.background-login{
    flex: 12;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 600px;
    height: 87%;
    margin: auto;
    background-color: rgb(31, 103, 211);
  }