.Post {
    float: right;
    margin: auto;
    padding: 10px;
    max-width: 600px;
    height: auto;
    text-align: left;
    font-size: 18px;
    font-family: Itim;
    background-color: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
  }