.Profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  margin: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px){
  .Profile{
    width: 70%;
  }
}

@media (min-width: 480px){
  .Profile{
    background-color:  #242424;
  }
}

.Profile-Box {
  width: 100%
}

.Profile-header {
  width: 70%;
  height: 600px;
  background-color: rgb(50, 50, 50);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Profile-Box-Profile{
  width: 100%;
  height: 50%;
  flex: 8;
  box-sizing: circle;
  background: -webkit-linear-gradient(rgb(80, 80, 80),rgb(50, 50, 50));
}

.Profile-coverPhoto{
    flex: 1;
    background-repeat: no-repeat;
    background-position: center;
}

.Profile-content {
  flex: 12;
}

.Profile-Background{
  margin: 8px;
  background-color: #e9e77f00;
}

.Profile-ProfileImage{
  flex: 12;
}

.Profile-Box-Button{
  width: 100%;
  height: 50%;
  flex: 1;
  box-sizing: circle;
  background-color: rgb(50, 50, 50);
}

.Profile-Button{
  background-color: #e9e77f00;
  border: 2px solid #e9e77f00;
  border-radius: 6px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-family: Itim;
}

.Profile-Button:hover{
  background-color:#fecd48;
  color: black;
}