@media (max-width: 425px) {

    .StickerPage-details-sticker-row{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
}

@media (min-width: 768px) {

    .StickerPage-header {
        padding-left: 5%;
        padding-right: 5%;
    }

    .StickerPage-body {
        padding-left: 5%;
        padding-right: 5%;
    }

    .StickerPage-details-sticker-row {
        border-image: 10%;
    }
    
}


.StickerPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FECC48;
    font-size: 20px;
    font-weight:bold;
}

.StickerPage-header {
    flex: 0.1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #242424;
    margin: 10px;

}

.StickerPage-Category {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;

}

.StickerPage-bottle {
    flex: 1;
    font-size: 15px;
    /* color: #E9E87F; */
}

.StickerPage-body {
    display: flex;
    flex-direction: column;
    flex: auto;
    background-color: #242424;
}

.StickerPage-profile-sticker {
    flex: 0.3;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 15px;
    color: #E9E87F;
}

.StickerPage-profile-image {
    flex: 1;
    margin: 10%;
    flex-direction: row;
    justify-content: center;
}

.Profile-image {
    margin-top: 50%;
    margin-bottom: 50%;
}

.StickerPage-profile-name-description {
    display: flex;
    flex: 1;
    margin-top: 50%;
    flex-direction: column;
    text-align: center;
}

.Profile-name {
    line-height: 1.5;
}

.Profile-description {
    line-height: 1.5;
}

.StickerPage-details-zone {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.StickerPage-details-sticker-header{
    flex: auto;
    background-color: #FECC48;
    margin: 0.5%;
    max-height: 10px;
}

.StickerPage-details-sticker {
    flex: 50;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.StickerPage-details-sticker-row {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
