# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.pwa-course-2021.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\GitFiles\pwa-course-2021\.idea\.idea.pwa-course-2021.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
