.Page{
display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 100%;
  height: 100%;
  margin: auto;
  background-color:#2D2C67;
}

@media (min-width: 700px) {
  .Page {
    max-width:90%;
  }
}
@media (min-width: 950px) {
  .Page {
    max-width:100%;
  }
}