

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .header {
    flex: 1;

  background-color: #e70505;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(233, 1, 1);
    
  }
  
  .chatroom {
    flex: 12;
  
    background-color: rgba(30, 203, 255, 0.418);
    
  
  }
  
  .chatroom-text {
    margin: 8px;
  
    background-color: rgb(255, 255, 255);
  
    color : rgb(0, 0, 0);
    font-size: 20px;
  }
  
  .textbox {
    flex: 1;
  
    background-color: rgba(0, 215, 223, 0.575);
  
    justify-content: center;
    align-items: stretch;
    display: flex;
  }
  
  .textbox-input {
    flex: 5;
    height: 100%;
    box-sizing: border-box;
  }
  
  .textbox-send {
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  }


  .noelly  {
    color: rgb(255, 255, 255); 
   margin-top: 20px;
   margin-left: -80px;
   font-size: 30px;
 
  }
  .noelphoto{
    margin-top: -60px;
    margin-left: -330px;
    margin-right: 5px;
    clip-path: circle();
    justify-content: center;
  }

  .imp{
    margin-top: -60px;;
    margin-left: -450px;
    margin-right: 5px;
    vertical-align: left;
    background-color: transparent;
  }
  .imp2{
    margin-top: -60px;
    margin-left: 400px;
    margin-right: 5px;
    vertical-align: left;
    
  }
  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 550px;
    height: 87%;
    margin: auto;
    background-color: rgb(55, 125, 231);
  }
.control{
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 5px;
  width: 90%;
}