.Profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 550px;
    height: 87%;
    margin: auto;
    background-color: rgb(31, 103, 211);
  }

 .Main-BackGrounder {
    height: 845px;
    width: 550px;
    position: relative;
    top: 690px;
    left: auto;
    opacity: 0.8;
  }

.Sub-Profile {
    height: 420px;
    width: 420px;
    position: relative;
    top:  -130px;
    left: auto;
}

.Main-Profile {
    height: 380px;
    width: 380px;
    position: relative;
    top:  -535px;
    left: auto;
}

.namely {
    height: 250px;
    width:  350px;
    position: relative;
    top:  -420px;
    left: auto;
}

.usernamely {
    position: relative;
    top:  -830px;
    left: auto;
    font-size: 54px;
}

.GoGoBack {
    height: 50px;
    width:  50px;
    position: relative;
    top:  -1380px;
    left: -240px;
}

.GoSetting {
    height: 80px;
    width:  80px;
    position: relative;
    top:  -1085px;
    left: 110px;
}