<<<<<<< HEAD
.Botton-back{
    text-align: start;
    flex-direction: row;
    margin-top: 0px;
    background-color: aquamarine;
}
.Background{
    background-color: aquamarine;
    width: auto;
    height: 240px;
    left: 0px;
    top: -7px;
}
.profile{
    background-color: white;
    width: auto;
    height: 471px;
    left: 0px;
    top: 169px;
    border-radius: 46px 46px 0px 0px;
}
.icon{
    background-color: red;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: end;
    justify-content:  center;
    border-radius: 70%;
}
=======
.App-Profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: gainsboro;
    height: 100%;
}

.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: .8;
    background-color: white;
    width: 100%;
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
    color: black;
    }

    
.cover{
    flex: .2;
    width: 100%;
    }

.profile-header{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    flex: .05;
    color: white;
    font-size: 25px;
    text-shadow: gray 1px 2px;
}

.profile-header .back{
width: 100%;
display: flex;
justify-content: flex-start;
margin-left: 5%;
cursor: pointer;
}
.profile-header .profilelabel{
width: 100%;
display: flex;
justify-content: center;
}

.profile-header .option{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    cursor: pointer;
    }

    .avatar-container{
      background-color: transparent;  
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: -5%;
    }

    .profile-name{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 5%;
      width: 200px;
    }

    a{
        font-size: 14px;
        color: gray;
        margin-top: 5%;
    }

.profile-avatar{
    width: 110px;
    height: 110px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    }

.profile-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.line{
    width: 100%;
    height: 1px;
    background-color: gray;
    margin-top: -10px;
    margin-bottom: 10px;
}

.profile-detail .text{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.signout{
    text-decoration:none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
    bottom: 5%;
    color: #E40001;
    background-color: #E5E5E5;
    font-weight: bolder;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    width: 80px;
    height: 30px;
}
>>>>>>> 536a97716cecbc5de7f1c6b91b948dcbf90f83d4
