.StickersList {
    display: flex;
    flex-direction: column;
}

.Sticker-from {
    display: flex;
    flex-direction: row;
    color: #E9E87F;
}

.Sticker-ShowImg {
    flex: 1;
    justify-content: center;
}

.Sticker-DisptionZone {
    flex: 15;
    display: flex;
    flex-direction: column;
}

.Sticker-Name {
    flex: 1;
    font-size: small;
}

.Sticker-Disption{
    flex: 1;
    font-size: x-small;
}
