/***************************************************************************************************************/
/********************************************BASS OF APP AND FRIEND*********************************************/
/***************************************************************************************************************/
/*@media (min-width: 500px)
{
 .App{
  background-color: #00424b;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   max-width: 400px;
   height: 100%;
   margin: auto;
 }
 .Friend
 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   max-width: 400px;
   height: 100%;
   margin: auto;
 }
}

/***************************************************************************************************************
***************************FIX THE SIZE OF ITEM TO CONFIX WITH RESOLUTION***************************************
***************************************************************************************************************/

/****************************      MIN < 500PX      *********************************************************************************************************************************************************/
/*@media (min-width: 500px){
  .App{
    max-width:100%;
    background-color: #00424b;
    background-position:top center;
    background-size: 1000px;
    background-repeat: no-repeat;
  }
  .App-header{
    flex: 1;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
  }
  .App-content-text {
    margin: 8px;
    background-color: rgb(77, 77, 77);
    color : rgb(255, 255, 255);
    font-size: 20px;
  }
  /*Friend Zone scene*/
  /*.Friend{
    max-width:100%;
    background-image: url(cat-2.jpg);
    background-position:top center;
    background-size: 1000px;
    background-repeat: no-repeat;
  }
  .Friend-header {
    flex: 1;
    background-color: #00424b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
  }
  .Friend-content-text {
    margin: 8px;
    background-color: rgb(77, 77, 77);
    color : rgb(255, 255, 255);
    font-size: 20px;
  }
  .Goto-Friend
{
  width: 300px;
  border: 10px solid rgb(0, 113, 243);
  padding: 10px;
  margin: 0;
  background-color: rgb(0, 70, 150);
  color: #ffffff;
  background-repeat:  no-repeat;
}
  

/****************************     MIN < 1000PX     ******************************************************************************************************************************************/

/*@media (min-width: 1000px){
  .App{
    max-width:100%;
    background-color: #00424b;
    background-position:top center;
    background-size: 1500px;
    background-repeat: no-repeat;
  }
  .App-header {
    flex: 1;
    background-color: #ffee00;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(0, 0, 0);
  }
  .App-content-text {
    margin: 8px;
    background-color: rgb(77, 77, 77);
    color : rgb(255, 255, 255);
    font-size: 30px;
  }
 /*Friend Zone scene*/
  /*.Friend{
    max-width:100%;
    background-image: url(cat-2.jpg);
    background-position:top center;
    background-size: 1500px;
    background-repeat: no-repeat;
  }
  .Friend-header {
    flex: 1;
    background-color: #005e42;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
  }
  .Friend-content-text {
    margin: 8px;
    background-color: rgb(77, 77, 77);
    color : rgb(255, 255, 255);
    font-size: 30px;
  }
  .Goto-Friend
{
  width: 500px;
  border: 10px solid rgb(0, 113, 243);
  padding: 10px;
  margin: 0;
  background-color: rgb(0, 70, 150);
  color: #ffffff;
  background-repeat:  no-repeat;
}
}

 /****************************       MIN < 1500PX      ****************************************************************************************************************************************/

/*@media (min-width: 1500px){
  .App{
    max-width:100%;
    background-color: #00424b;
    background-position:top center;
    background-size: 2000px;
    background-repeat: no-repeat;
  }
  .App-header {
    flex: 1;
    background-color: #0ac76f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
  }
 
  .App-content-text {
    margin: 8px;
    background-color: rgb(77, 77, 77);
    color : rgb(255, 255, 255);
    font-size: 40px;
  }
  /*Friend Zone scene*/
  /*.Friend{
    max-width:100%;
    background-image: url(cat-2.jpg);
    background-position:top;
    background-size: 2000px;
    background-repeat: no-repeat;
  }
  .Friend-header {
    flex: 1;
    background-color: #366600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
  }
 
  .Friend-content-text {
    margin: 8px;
    background-color: rgb(77, 77, 77);
    color : rgb(255, 255, 255);
    font-size: 40px;
  }

}
/******************************************************************************************AND COMMAND FIX THE SIZE**********************************************************************************************/

/***BASS LOGO****
****************/
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/************************BASS OF APP AND FRIEND (CHATROOM)******************************
***************************************************************************************/
.App-content {
  height: 100%;
  flex: 12;
  overflow: auto;
}
.Friend-content {
  flex: 12;
  background-color: rgba(179, 178, 178, 0.418);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position:  center;
}


/************************BASS OF APP TEXT BOX AND LINK*********************************
***************************************************************************************/
.App-textbox {
  flex: 1;
  background-color: rgb(119, 44, 44);
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.App-textbox-input {
  flex: 5;
  height: 100%;
  box-sizing: border-box;
}
.App-textbox-send {
  flex: 1;
  height: 100%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
}
.link-margin
{
   margin-left: 8px;
}

.TopHead{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
  max-width:100%;
  background-color: hsl(0, 0%, 25%);
  background-position:top center;
  background-size: 2000px;
  background-repeat: no-repeat;
}
.TopHead2{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
  max-width:100%;
  background-color: rgb(21, 0, 59);
  background-position:top center;
  background-size: 2000px;
  background-repeat: no-repeat;
}
.Link-Top
{
  margin: 5px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}


  .magin-Logo{
    position: absolute;
    right: 120px;
  }
  .magin-Text{
    position: absolute;
    right: 10px;
  }


