.App {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 400px;
  height: 100%;
  margin: auto;
  background-image: url(BG.jpg);
  background-position: center ;
  background-size: 50%;
  background-repeat: no-repeat;
}

@media (min-width : 1080px){
  .App{
    width: 95%;
    background-color: #2D2C67;
  }
}




@media (min-width : 720px) and (max-width: 1079px){
  .App{
    width: 95%;
    background-color: #FFE5B4;
  }
}

@media (min-width : 480px) and (max-width: 719px){
  .App{
    width: 95%;
    background-color: #FFC0CB;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-chatroom {
  flex: 12;

}

.App-chatroom-text {
  margin: 5px;
  background-color: rgb(20, 16, 231);
  color: rgb(255, 255, 255);
  font-size: 16px;
 
  
}

.App-textbox {
  
  flex: 1;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

.App-textbox-input {
  width: 400px;
  height: 32px;
  
}

.App-textbox-send {
  vertical-align: bottom;
  align-items: flex-end;
  display: flex;
 
}

.App-textbox-send-pic{
  display: flex;
  justify-content: flex-end;
  vertical-align: top;
  width: 32px;
  height: 32px;
  background-image: url(/src/AppchatUpdate/SendButton.png) ;
  background-size: 100%;
  background-repeat: no-repeat;
}
