.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 400px;
  height: 100%;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  flex: 1;

  background-color: #3a3a3a;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  color: rgb(5, 5, 5);

}

.App-chatroom {
  flex: 12;


  background-color: rgb(243, 243, 243);


}

.App-chatroom-text {
  margin: 8px;

  background-color: rgb(73, 73, 73);
  color:white

}

.App-textbox {
  flex: 1;
  background-color: rgb(255, 177, 177);
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.App-textbox-input {
  flex: 5;
  height: 100%;
  box-sizing: border-box;
}

.App-textbox-send {
  flex: 1;
  height: 100%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}