.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* max-width: 400px; */
  height: 100%;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(169, 180, 216);

}

@media (min-width : 768px){
  .App{
    width: 95%;
    background-color: rgb(64, 190, 199);
   }

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  flex: 3;
  background-image: url(game.JPG);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-end;
  color: #000;
  padding-right: 16px;
  /* font-size: calc(10px + 2vmin);
  color: white; */
}

.App-content {
  max-width: 100%;
  overflow:  auto;
  flex: 12;
  background-color: rgb(112, 167, 156);

}

.App-chatroom-text {
  margin: 8px;
  background-color: rgb(99, 231, 132);
  border-radius: 15px;
  overflow: hidden;
  
}

.App-textbox {
  flex: 1;
  background-color: rgb(64, 177, 111);
  justify-content: center;
  align-items: stretch;
  display: flex;
 
}

.App-textbox-input {
  flex: 5;
  height: 100%;
  box-sizing: border-box;
}

.App-textbox-send {
  flex: 1;
  height: 100%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
}


/* @media (max-width: 768px){
[class*="col-"]{
  width: 100%
  }
} */
