.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 400px;
  height: 100%;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  flex: 1;
  background-color: #c7368b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(192, 54, 146);
}

.App-chatroom {
  flex: 12;
  background-color: rgb(255, 74, 186);
}

.App-chatroom-text {
  margin: 20px;
  background-color: yellow;
  font-size: 30;
  color : blueviolet
}

.App-textbox {
  flex: 1;
  background-color: rgb(223, 42, 230);
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.App-textbox-input {
  flex: 5;
  height: 100%;
  box-sizing: border-box;
}

.App-textbox-send {
  flex: 1;
  height: 100%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
}