.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  margin: auto;
  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  flex: 1;

  background-color: rgb(250, 131, 76);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-chatroom {
  flex: 12;
}

.App-chatroom-text {
  margin: 8px;
  color : rgb(48, 100, 100);
  font-size: 20px;
}

.App-textbox {
  flex: 1;
  background-color: rgb(253, 200, 176);
  justify-content: center;
  align-items: stretch;
  display: flex;
  background-image:url(BG_Moblie_Text_Send.png);
  background-position: center;
}

.App-textbox-input {
  flex: 5;
  height: 100%;
  box-sizing: border-box;
  background-image:url(BG_Moblie_Text.png);
}

.App-textbox-send {
  flex: 1;
  height: 100%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
}
@media(max-width: 768px){
.App{
  background-image:url(anime-milo-art-warriors-orochi-Favim.ru-3849202.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}
}

@media(min-width: 768px) and (max-width: 1024px){
  .App{
    background-image:url(anime-milo-art-warriors-orochi-Favim.ru-3849202.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: rgb(225, 253, 255);
  }
}

@media(orientation: landscape){
.App{
  background-image:url(anime-milo-art-warriors-orochi-Favim.ru-3849202.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: rgb(226, 255, 225);
  }
}
