.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  max-width: 100%;
  height: 100%;
  margin: auto;
 
}

@media (min-width: 768px){
  .App{
    max-width: 100%;
  }
}

.App-logo {
  height: 10px;
  pointer-events: none;
}

.App-header-button{
  max-width: 20%;
  height: 25%;
}

.App-header {
  flex: 1;
  display: flex;
  background-color:#DFE3EE;
  background: rgb(68,146,195);
  background: linear-gradient(90deg, rgba(68,146,195,1) 0%, rgba(35,100,156,1) 100%);
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: #F7F7F7;
  flex-direction: row;
}


.App-chatroom {
  flex: 12;
  background-size: 140%;
  background-position: center;
  background-color: rgb(0, 15, 25);
}

.App-chatroom-text  { 
  margin: 8px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #001d36;
  border: 1px solid none;
  border-radius: 10px;
  padding: 5px;
}

.App-textbox { 
  flex: 1; 
  justify-content: center;
  align-items: stretch;
  color: rgb(255, 255, 255);
  display: flex;
  border: 1px solid white;
}

.App-textbox-input {
  margin: 0px;
  flex: 3;
  height: 100%;
  box-sizing: border-box;
  color: white;
  background-color: rgb(0, 35, 65);
}

.App-textbox-send {
  flex: 1;
  height: 100%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #F7F7F7;
  background-color:#DFE3EE;
  background: rgb(68,146,195);
  background: linear-gradient(90deg, rgba(68,146,195,1) 0%, rgba(35,100,156,1) 100%);
}

@media (min-width: 768px){
  .App{
    max-width: 400px;
    border: 1px solid black;
    height: 95%;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .App-chatroom{
    background-color: white;
  }

  .App-chatroom-text {
    color: black;
    background-color: rgb(236, 236, 236);
    font-size: 16px;
    font-weight: normal;
  }

}

.App-content{
  display: flex;
  flex-direction: column;
  flex: 12;
  color: white;
}