.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  margin: auto;
}

@media (min-width: 768px) {

  .App {
    background-color: rgba(0, 0, 0, 0);
  }

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  flex: 1;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}

@media (min-width: 768px){
  .App-header{
    background-color: #000000;
  }
}

.App-chatroom {
  flex: 12;
  background-image: url(Space.jpg);
  background-size: cover;

}

.App-chatroom-text {
  margin: 8px;

  background-color: rgba(73, 73, 73, 0.103);

  color : rgb(255, 255, 255);
  font-size: 20px;
}

.App-textbox {
  flex: 1;
  background-color: rgb(0, 0, 0);
  justify-content: center;
  align-items: stretch;
  display: flex;
  font-size:40px;
  color:lightblue;
}

.App-textbox-input {
  flex: 7;
  height: 100%;
  box-sizing: border-box;
}

.App-textbox-send {
  flex: 1;
  height: 100%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
  
}
.App-textbox-icon{
  height: 5%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  font-size:30px;
  padding: 5px;

}

@media (min-width: 768px){
  .App-textbox-icon{
  display: flex;
  justify-content: space-between;
  }
}

.hide-when-small { display: none }

.hide-when-big {display: none;}
 
@media (min-width: 768px) { .hide-when-small { display:flex } }

@media (max-width: 768px) { .hide-when-big {display: flex;}}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}