.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  margin: auto;
}

@media (min-width: 768px) {

  .App {
    background-color: rgba(0, 0, 0, 0);
  }

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex: 0.1;
  font-size:30px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 10px;
}

.App-back-icon{
  width: 50px;
}

@media (min-width: 768px){
  .App-header{
    background-color: #000000;
  }
}

.App-content {
  flex: 12;
  
  background-image: url(Space.jpg);
  background-size: cover;

}

.App-content-text {
  margin: 8px;

  background-color: rgba(73, 73, 73, 0.103);

  color : rgb(255, 255, 255);
  font-size: 20px;
}

.App-chatbot-icon{
  height: auto;
  display: flex;
  justify-content: space-around;
  font-size:40px;
  padding: 10px;
  color:rgb(255, 255, 255);
}

.App-textbox {
  flex: 1;
  background-color: rgb(0, 0, 0);
  justify-content: center;
  align-items: stretch;
  display: flex;
  font-size:40px;
  color:lightblue;
}

.App-textbox-input {
  flex: 6;
  height: 100%;
  box-sizing: border-box;
}

.App-textbox-send {
  flex: 1;
  height: 100%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
}

.App-textbox-icon{
  height: auto;
  display: flex;
  justify-content: space-around;
  font-size:30px;
  padding: 10px;
  color:rgb(0, 17, 255);
}

.hide-when-small { display: none }

.hide-when-big {display: none;}
 
@media (min-width: 768px) { .hide-when-small {display:flex}}

@media (max-width: 768px) { .hide-when-big {display: flex}}