
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 500px;
  height: 100%;
  margin: auto;
  background-color: rgb(36, 36, 36);
}
@media(min-width:1280px){
  .App{
    
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media(max-width: 768px){
.App{
background-color: rgb(48, 48, 48);
width: 80% ;
}
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  flex: 1;


  background-color: #3a3a3a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);

}

.Name-Box{

   color: rgb(255, 255, 255); 
   margin-top: 20px;
   margin-left: 20px;
   font-size: 30px;
   
   
  /*background-color: rgb(255, 255, 255);
  
  width: 50%;
  margin-top: 20px;
  margin-left: 30px;
  
  display: inline-block;
  border: 0px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font: optional;*/
}

.Search-Box{
  background-color: rgb(255, 255, 255);
  
  width: 90%;
  margin-top: 23px;
  display: inline-block;
  border: 0px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font: optional;
}

.AllChat-Header {
  flex: 1;

  margin-top: -10px;
  margin-left: 20px;
  margin-right: 5px;
  width: 90%;

  background-color: rgb(233, 1, 1);
  color: rgb(233, 1, 1);
  border: 5px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.LastChat{

  background-color: rgb(255, 255, 255);
  
  width: 60%;
  margin-top: 20px;
  margin-left: 50px;
  
  display: inline-block;
  border: 0px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 20px;
}

.FriendPic{

  margin-bottom: 5px;
  border-radius: 50%;
  margin-left: 7px;
  margin-top: -95px;
  width: 100px;
  clip-path: circle();

}

.FriendChat-Box{

  flex: 1;

  margin-top: 10px;
  margin-left: 20px;
  margin-right: 5px;
  width: 90%;

  background-color: rgb(233, 1, 1);
  color: rgb(233, 1, 1);
  border: 5px solid rgb(255, 255, 255);
  border-radius: 10px;

}

.Middle-Zone {
  flex: 12;
}

.App-chatroom {
  flex: 12;

  background-color: rgba(206, 129, 250, 0.534);
}
.App-chatroom-text {
  margin: 8px;

  background-color: rgb(232, 227, 243);
  color : rgb(48, 100, 100);
  font-size: 20px;
}

.App-textbox {
  flex: 1;
  
  background-color: rgb(146, 100, 255);

  justify-content: center;
  align-items: stretch;
  display: flex;
}

.App-textbox-input {
  flex: 5;
  height: 100%;
  box-sizing: border-box;
}

.App-textbox-send {
  flex: 1;
  height: 100%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.Test{
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.image-button{
  margin-bottom: 10px;
  padding: 0px;
}

.image-between{
  padding: 10px;
}

/*.img {

  border-radius: 50%;
  
  margin-top: 5px;
  margin-left: 5px;
  width: 100px;
  clip-path: circle();
  
  
}*/


.space{
  flex: .1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: rgb(255, 255, 255);
}

.rcorners1 {

  border-radius: 100px;
  background: #b10000;

  padding: 40px; 
  width: 50px;
  height: 5px;  
  margin: 0;
  
  border: 7px solid rgb(255, 255, 255);
  margin-top: 10px;
}

.table-main{
  width: 100%;
  border-collapse: collapse;
  border: 0px solid black;

}

