.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  margin: auto;
}

@media (min-width: 768px) {

  .App {
    background-image: url(shiori.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
  }

}
@media (max-width: 768px) {

  .App {
    background-image: url(shiori.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
  }

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(228, 129, 248);
  font-size: 35px;
  background-color: rgba(142, 120, 221, 0.507);
}

.App-chatroom {
  flex: 12;

  background-color: rgba(170, 158, 212, 0.418);
  background-image: url();

}

.App-chatroom-text {
  margin: 8px;

  background-color: rgba(192, 99, 99, 0.596);

  color : rgb(212, 231, 231);
  font-size: 20px;
}

.App-textbox {
  flex: 1;

  background-color: rgba(255, 0, 0, 0);

  justify-content: center;
  align-items: stretch;
  display: flex;
  color : rgb(212, 231, 231);

}

.App-textbox-input {
  flex: 4;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(55, 19, 59, 0.774);
  color: aliceblue;
}

.App-textbox-send {
  flex: 1;
  height: 100%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgb(55, 19, 59);
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}