.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 400px;
  height: 100%;
  margin: auto;
  background-image: url(universe-vector.jpg) ;
  /*background-size: cover;*/
}

@media (min-width: 768px) {
  .App {
    max-width: 100%;
    background-color: blue;
    background-image: url(Thedeer.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 24px;
    margin-bottom: 24;
    height: 95%;
    
  }
}

@media (max-width: 1024px){
  .App{
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
  }   
 }


.background-mycolor-1{
  font-size: 24px;
  max-width: 600px;
  background-color: aquamarine;
}

.background-mycolor-2{
  background-color: rebeccapurple;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  flex: 2;

  background-color: #013b32;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(155, 207, 255);
}

.App-chatroom {
  flex: 10;
  background-color: rgb(34, 255, 237);

  color: rgb(0, 0, 0);

}

.App-chatroom {
  flex: 12;

  background-color: rgba(170, 158, 212, 0.418);
  background-image: url();

}

.App-chatroom-text {
  margin: 8px;
  background-color: rgb(3, 158, 150);
  color: #ffffff;
  border-style: solid ;
  border-width: 1px;
}

.App-textbox {
  flex: 0;
  background-color: rgb(0, 90, 75);


  color : rgb(48, 100, 100);
  font-size: 20px;
}

.App-textbox {
  flex: 1;

  background-color: rgb(255, 0, 0);

  justify-content: center;
  align-items: stretch;
  display: flex;
  color: #ffffff;
}

.App-textbox-send{
  background-color: rgb(1, 133, 122);
  color: #ffffff;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  width: 50px;
  flex: 1;
  height: 100%;
  vertical-align: middle;
  display: flex;
}

.App-textbox-Input{
  flex: 5;
  height: 100%;
  box-sizing: border-box;
}

