.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 400px;
  height: 100%;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  flex: 1;
  background-color: #e7fc7f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-chatroom {
  flex: 12;
  background-color: rgba(199, 198, 198, 0.418);
}

.App-chatroom-text {
  margin: 8px;
  background-color: rgb(197, 189, 189);
  color : rgb(48, 100, 100);
  font-size: 20px;
}

.App-textbox {
  flex: 1;
  background-color: rgb(224, 220, 220);
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.App-textbox-input {
  flex: 5;
  height: 100%;
  box-sizing: border-box;
}

.App-textbox-send {
  flex: 1;
  height: 100%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
}