.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 1080px;
  height: 100%;
  margin: auto;
  background-image: url(food.jpg);
  background-repeat: no-repeat;
  background-position: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  flex: 1;
  background-color: #535353;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-chatroom {
  flex: 12;
  background-color: rgb(0, 0, 0);
  background-image: url(food.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}

.App-chatroom-text {
  margin: 8px;

  background-color: rgb(255, 255, 255);
  color : rgb(19, 19, 19);
  font-size: 20px;

}

.App-textbox {
  flex: 0.5;
  background-color: rgb(255, 0, 0);
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.App-textbox-input {
  flex: 4.5;
  height: 100%;
  box-sizing: border-box;
}

.App-textbox-send {
  flex: 1;
  height: 100%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (min-width: 768px)
{
  .App {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #535353;
    background-image: url(food.jpg);
  }
  
  .App-textbox {
    flex: 2
  }
}