.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 400px;
  height: 100%;
  margin: auto;
 
}

@media (max-width: 768px){
  .App{
    min-width: 100%;
    background-image: url(cat.jpg)
  }
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  flex: 2;
  background-color: #b2ffa2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: rgb(0, 46, 11);
}

.App-chatroom {
  flex: 12;
  background-size: 140%;
  background-position: center;
  background-color: rgba(240, 206, 206, 0.418);
}

.App-chatroom-text {
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.856);
  color : rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  
}

.App-textbox { 
  flex: 2; 
  background-color: rgb(224, 220, 220);
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.App-textbox-input {
  flex: 3;
  height: 100%;
  box-sizing: border-box;
}

.App-textbox-send {
  flex: 1;
  height: 100%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (max-width: 768px){
  .App{
    min-width: 100%;
    background-image: url(cat.jpg);
    background-size: contain;
  }
  .App-header{
    max-width: 100%;
    flex: 1.5;
    font-size: 30px;
  }
  .App-textbox-input {
    flex: 5;
  }
  .App-textbox{
    flex: 1.25;
  }
}