.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 500px;
  min-height: auto;
  height: 100%;
  margin: auto;
  background-color: rgb(36, 36, 36);
}

.AppLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 500px;
  min-height: auto;
  height: 100%;
  margin: auto;
  background: rgb(179,0,0);
  background: linear-gradient(0deg, rgb(87, 0, 0) 0%, rgb(163, 0, 0) 51%, rgba(232,0,0,1) 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  flex: 1;

  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);

}

.Name-Box{

   color: rgb(255, 255, 255); 
   margin-top: 20px;
   margin-left: 20px;
   font-size: 30px;
   
}

.Search-Box{
  background-color: rgb(255, 255, 255);
  
  width: 90%;
  margin-top: 23px;
  display: inline-block;
  border: 0px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font: optional;
}

.AllChat-Header {
  flex: 1;

  margin-top: -10px;
  margin-left: 20px;
  margin-right: 5px;
  width: 90%;

  background-color: rgb(233, 1, 1);
  color: rgb(233, 1, 1);
  border: 5px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.LastChat{

  background-color: rgb(255, 255, 255);
  
  width: 60%;
  margin-top: 20px;
  margin-left: 50px;
  
  display: inline-block;
  border: 0px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 20px;
}

.FriendPic{

  margin-bottom: 5px;
  border-radius: 50%;
  margin-left: 7px;
  margin-top: -95px;
  width: 100px;
  clip-path: circle();
  

}

.FriendChat-Box{

  margin-top: 10px;
  margin-left: 20px;
  margin-right: 5px;
  width: 90%;

  background-color: rgb(233, 1, 1);
  color: rgb(233, 1, 1);
  border: 5px solid rgb(255, 255, 255);
  border-radius: 10px;

}

.Middle-Zone {
  flex: 12;
}

.App-content {
  flex: 12;

  background-color: rgba(199, 198, 198, 0.418);
}
.App-chatroom-text {
  margin: 8px;

  background-color: rgb(197, 189, 189);
  color : rgb(48, 100, 100);
  font-size: 20px;
}

.App-textbox {
  flex: 1;
  
  background-color: rgb(255, 232, 100);

  justify-content: center;
  align-items: stretch;
  display: flex;
}

.App-textbox-input {
  flex: 5;
  height: 100%;
  box-sizing: border-box;
}

.App-textbox-send {
  flex: 1;
  height: 100%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.Test{
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.image-button{
  padding: 0px;
}

.image-between{
  padding: 10px;
}

.space{
  flex: .1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: rgb(255, 255, 255);
}

.rcorners1 {

  border-radius: 100px;
  background: #b10000;

  padding: 40px; 
  width: 50px;
  height: 5px;  
  margin: 0;
  
  border: 7px solid rgb(255, 255, 255);
  margin-top: 10px;
}

.table-main{
  width: 100%;
  border-collapse: collapse;
  border: 0px solid black;

}

.circles {
  height: 130px;
  width: 130px;
  background-color: rgb(192, 28, 28);
  border-radius: 50%;
  display: inline-block;
  border: 7px solid rgb(255, 255, 255);
}

.noteheader{
  flex: 1;
  margin-left: 25px;
  width: 90%;

 
}

.notemid{
  flex: 12;
 
  width: 90%;
}


.circlesbox1{
  margin-top: 10px;
  margin-left: -50px;
  margin-right: 5px;
  width: 90%;
  

}

.circlesbox2{
  margin-top: -150px;
  margin-left: 150px;
  margin-right: 5px;
  width: 90%;
  

}

.circlesbox3{
  margin-top: 10px;
  margin-left: -50px;
  margin-right: 5px;
  width: 90%;


}
.profilehead{
  flex: 1;
 
  width: 90%;
}

.profilemid{
  flex: 12;
 
  width: 90%;
}
/*เริ่มprofile*/
.framepic{
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 5px;
  width: 90%;
  clip-path: circle();
}


.profilename{
  margin-top: 30px;
  margin-left: -50px;
  margin-right: 5px;
  width: 155%;
  border: 7px solid rgb(255, 255, 255);
  color: #ccc;
  font-size: 20px;
  
}

.profileinfo{
  margin-top: 10px;
  margin-left: -50px;
  margin-right: 5px;
  width: 155%;
  border: 7px solid rgb(255, 255, 255);
  color: #ccc;
  font-size: 20px;
}

.profilespinhis{
  margin-top: 10px;
  margin-left: -50px;
  margin-right: 5px;
  width: 155%;
  border: 7px solid rgb(255, 255, 255);
  color: #ccc;
  font-size: 20px;
}

.halfspaceCentor{
  flex: 5 ;
}

.randomTextShow {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.fontSmall {
  font-size: 25px;
}


#borderBackground {
  background-position: center center;
  border-radius: 25px;
  background: #929292;
  padding: 10px;
  width: 400px;
  height: 700px;
}

.container-1
{
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
}

#borderListBackground {
  font-size: 30px;
  background-position: top center;
  border-radius: 25px;
  background: #ffffff;
  padding: 10%;
  width: 80%;
  height: 1px;
}

.notemids{
  flex: 12;
  margin-left: 25px;
  background-color: rgb(255, 255, 255);
  width: 90%;
  margin-bottom: 30px;
}

textarea {
  width: 100%;
  height: 300px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f800;
  font-size: 16px;
  resize: none;
}



.noteheaders{
  margin-left: -200px;
  margin-top: 100;
  width: 90%;

 
}
input[type=text] {
  width: 86%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  font-size: 20px;
  border-bottom: 2px solid white;
  background-color:  rgb(36, 36, 36);
  color: white;
}