

img{
  border-radius: 50%

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  
  flex: 1;
  width:100%;
  height:100%;
  max-width: 423px;
  background-color: rgb(137, 202, 191);
  display: flex;
  flex-direction:row;
  align-items:stretch;
  justify-content: center;
  font-size: calc(4px + 1vmin);
  color: rgb(90, 184, 168);
  padding-right: 16px;
}


.button {
  background-color: rgb(230, 180, 189);
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family:sans-serif;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}



h1 {
  font-size: 25px;
}
.flip-card {
  background-color: transparent;
  width: 50%;
  height: 30%;
  padding: 2px 110px;
  perspective: 1000px;
   /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;

  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  font-family:monospace;
  font-size: 15px;  
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
  
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(137, 202, 191);
  color: white;
  transform: rotateY(180deg);
  border-radius: 50%;
}

@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700);



.accordion {
    background-color: rgb(137, 202, 191);
    width: 440px;
    margin-top: 20px;
    font-size: 25px;
    color: rgb(255, 255, 255);
  


.accordionaddFriend {
  -webkit-box-shadow: 0px 13px 23px -13px rgba(0,0,0,0.5);
  width: 420px;
  background-color: transparent;
  margin: auto;
  margin-top: 0px;
  font-size: 15px;
  height: 50px;
}

select {
  width: 24%;
  height: 6.5%;
  padding: 2px 5px;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
}

.footer {
  background-color: #cc3359;
  color: #ffffff;
  margin-top: 230px;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}
input {
  margin: auto;
  float: none;
  font-size: 15px;
  width: 100%;
  height: 5%;
  max-width: 307px;
  padding: 5px 10px;


}

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.button {
  background-color: #f84040;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;


}







