
.Undo2{
    position: absolute;
    width: 28.54px;
    height: 23.84px;
    left: 14px;
    top: 77px;
    
}


@media (max-width: 1279px ) 
{
    .HomePageInfo{
        margin: auto;
        display: flex;  
        width: 100%;
        height: 100%;
        max-width: 414px;
        flex-direction: column;
        justify-items: start;
        background-repeat: no-repeat;
        background-color: #0d0b4d;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-position: center bottom ;

    }
    
    .HomePageInfo-topBar{   
    
        justify-items: start;
        flex-direction: column;
        width: 100%;
        height: 83px;
        max-width: 414px;
        background-repeat: no-repeat;
        background-image: url(/src/AppchatUpdate/StatusBar.png);
        
    }

    .HomePageInfo-search{
        
        background-image: url(/src/AppchatUpdate/SearchBar.png) ;
        width: 100%;
        height: 83px;
        
    }

    .HomePageInfo-btn btn-info{
        background-color: #140236;
        flex: end;
        border: none;
        padding: 15px 15px;
        font-size: 15px;
        background-image: url(/src/AppchatUpdate/loupe.png);
    }

    input{
        font-family: inherit;
        width: 90%;
        height: 30px;
        border: 0;
        border-bottom: #2D2C67;
        font-size: 16px;
        border-radius: 0;
        background: #505396;
        outline: 0;
        
    }

    input [type="text"]{
        width: 80%;
        height: 40px;
        flex-direction: column;
        outline: 0;
        
    }

    .flex-container {
        align-items: center;
        }
    
    .HomePageInfo-backgroun{
    
        display: flex;
        align-items: flex-start;
        height: 765px;
        background-image: url(/src/AppchatUpdate/Rectangle.png);
        
    }
    
    .HomePageInfo-backgroun-Botchat{
    
        display: flex;
        padding: 12px;
        align-content: center;
        width: 241px;
        height: 69px;
        
    }
    .ToolBar
    {

        display: flex;
        flex: 12;
        flex-direction: row;
        justify-self: end;
        justify-content: space-between;
        align-items: flex-end;
        padding-right: 20px;
        padding-left: 20px;
        width: 374px;
        height: 60px; 
        
    }

    .pandding
    {

        padding-bottom: 6px;
    }

}

@media (min-width: 1280px) 
{
    .HomePageInfo{
        display: flex;  
        width: 100%;
        height: 100%;
        flex-direction: column;
        background-color: #505396;
    }
    
    .HomePageInfo-topBar{   

        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 83px;
        flex-direction: row;
        
        
    }
    

    .HomePageInfo-search{

        display: flex;
        margin-left: 24px;
        margin-top: 30px ;
        justify-items: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        
    }

    .HomePageInfo-topBar-profile
    {   
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        background-repeat: no-repeat;
        width: 500px;
        height: 100%;
        background-image: url(/src/AppchatUpdate/Header-TopBar.png) ;
    }

    
    .HomePageInfo-backgroun{
    
        display: flex;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        background-color: #2D2C67;

        
    }
    
    .HomePageInfo-backgroun-Botchat{
    
        display: flex;
        padding: 12px;
        align-content: center;
        width: 241px;
        height: 69px;

        
    }

    .ToolBar
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 65px; 
        background-color: #140236;
    }

    .pandding
    {  
        margin: 24px;
    }



}
