
@media (max-width : 1279px) {

    .LogoApp{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: auto;
        width: 100%;
        height: 100%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-image: url(/src/icon/icon-256x256.png);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #2D2C67;
      
    }
    
    .AppLogin{

        align-self: flex-end;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .AppRegister{
        align-self: flex-end;
        margin-bottom: 20px;
    }


    .SingIn{
        margin-bottom: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Login{

        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 825px;
        margin: auto;
        background-repeat: no-repeat;
        background-image: url(/src/AppchatUpdate/Log\ In.png);
    }

    .Undo{

        position: absolute;
        width: 28.54px;
        height: 23.84px;
        left: 14px;
        top: 58px;
    }


  }

@media (min-width : 1280px) {


    .LogoApp {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
        width: 100%;
        height: 100%;
        background-image: url(/src/icon/icon-256x256.png);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #2D2C67;
        
    }

    .AppLogin{

        
        margin-top: 450px;
        
    }
    
    .AppRegister{

        margin-top: 10px;
        
    }


    .SingIn{
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Login{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #2D2C67;
    }

    .Login-boxLogin{    
        
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 808px;
        height: 209px;
        background-image: url(/src/AppchatUpdate/GroupLoginButton.png);
        background-repeat: no-repeat ;

    }

    .Undo{

        position: absolute;
        width: 48.39px;
        height: 40.91px;
        left: 39px;
        top: 64px;
    }


}



