.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  margin: auto;
}

@media (min-width: 768px) {

  .App {
    background-color: rgba(0, 0, 0, 0);
  }
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-content {
  flex: 12;
  background-image: url(Space.jpg);
  background-size: cover;

}

.App-header-friend{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size:30px;
  background-color: #000000;
  color: rgb(175, 17, 17);
}