
.Undo2{
    position: absolute;
    width: 28.54px;
    height: 23.84px;
    left: 14px;
    top: 77px;
    
}


@media (max-width: 1279px ) 
{
    .HomePageInfo{
        margin: auto;
        display: flex;  
        width: 414px;
        height: 896px;
        flex-direction: column;
        justify-items: start;
        background-repeat: no-repeat;
        background-image: url(/src/AppchatUpdate/MenuHomeBar.png);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-position: center bottom ;
    }
    
    .HomePageInfo-topBar{   
    
        justify-items: start;
        flex-direction: column;
        width: 414px;
        height: 83px;
        background-repeat: no-repeat;
        background-image: url(/src/AppchatUpdate/StatusBar.png);
        
    }
    .HomePageInfo-search{
        
        background-image: url(/src/AppchatUpdate/SearchBar.png) ;
        width: 414px;
        height: 83px;
    }
    
    .HomePageInfo-backgroun{
    
        display: flex;
        align-items: flex-start;
        height: 765px;
        background-image: url(/src/AppchatUpdate/Rectangle.png);
        
    }
    
    .HomePageInfo-backgroun-Botchat{
    
        display: flex;
        padding: 12px;
        align-content: center;
        width: 241px;
        height: 69px;
        
    }
    .ToolBar
    {

        display: flex;
        flex: 12;
        flex-direction: row;
        justify-self: end;
        justify-content: space-between;
        align-items: flex-end;
        padding-right: 20px;
        padding-left: 20px;
        width: 374px;
        height: 60px; 
        
    }

    .pandding
    {

        padding-bottom: 6px;
    }

}

@media (min-width: 1280px) 
{
    .HomePageInfo{

        margin: auto;
        display: flex;  
        width: 1600px;
        height: 900px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-image: url(/src/AppchatUpdate/MenuHomeBar.png);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-position: center bottom;
        margin-left: 50px;
        background-color: #505396;
    }
    
    .HomePageInfo-topBar{   
        display: flex;
        margin: auto;
        align-items: center;
        flex: 1;
        width: 1600px;
        height: 83px;
        flex-direction: row;
        
        
    }
    

    .HomePageInfo-search{
        margin-top: 30px ;
        justify-items: flex-start;
        background-repeat: no-repeat;
        margin-left: 100px;
        width: 800px;
        height: 83px;
        background-image: url(/src/AppchatUpdate/SearchBar1600.png) ;
    }

    .HomePageInfo-topBar-profile
    {   
        align-items: flex-end;
        justify-content: flex-end;
        background-repeat: no-repeat;
        margin-top: 12px ;
        margin-left: 500px;
        width: 300px;
        height: 83px;
        background-image: url(/src/AppchatUpdate/Header-TopBar.png) ;
    }

    
    .HomePageInfo-backgroun{
    
        display: flex;
        align-items: flex-start;
        width: 1600px;
        height: 900px;
        background-image: url(/src/AppchatUpdate/Rectangle.png);

        
    }
    
    .HomePageInfo-backgroun-Botchat{
    
        display: flex;
        padding: 12px;
        align-content: center;
        width: 241px;
        height: 69px;

        
    }

    .ToolBar
    {

        display: flex;
        flex: 12;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding-right: 20px;
        padding-left: 20px;
        width: 1560px;
        height: 60px; 
        background-color: #140236;
        
    }

    .pandding
    {

        padding-bottom: 6px;
    }



}








@media (max-width: 1279px)
{
    .SettingPage
    {
        margin: auto;
        display: flex;
        flex-direction: column;
        width: 414px;
        height: 896px;
        background-repeat: no-repeat;
        background-image: url(/src/AppchatUpdate/Setting.png);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        
    }
    .Header
    {   
        display: flex;
        position: relative;
        background-color: #505396;
        width: 414px;
        height: 131px;
        align-items: center;
        justify-content: center ;
    }

    .Header-text
    {   
        margin-left:100px ;
        margin-top: 60px;
        height: 131px;
        width: 414px;
        background-repeat: no-repeat;
        background-image: url(/src/AppchatUpdate/Settings.png);
    }
    .LogOut{

        display: flex;
        align-items: center;
        margin-left: 46px;
        margin-top: 590px;  
        justify-content: flex-start;
        
    }

    .Undo2{

        display: flex;
        margin-bottom: 60px;
        align-items: flex-start;
        justify-content:flex-start;
        
    }
}


@media (min-width: 1280px){

    .SettingPage{

        margin: auto;
        display: flex;
          
        width: 1600px;
        height: 900px;
        background-color: #2D2C67;
        flex-direction: column;
        
    }

    .Header
    {   
        display: flex;
        position: relative;
        background-color: #505396;
        width: 100%;
        height: 131px;
        justify-content: center;
        align-items: center;
        
       
    }

    .Header-text
    {   
        align-items: center;
        width: 200px;
        height: 70px;
        background-repeat: no-repeat;
        background-size: 95% ;
        background-image: url(/src/AppchatUpdate/Settings.png);
    }
    .OptionSetting
    {   
        display: flex;
        flex-direction: column;
        align-items: center;
      
    }
    .OptionSetting-Bar
    {
        margin-top: 24px;
        width: 852px;
        height: 498px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url(/src/AppchatUpdate/GroupOption.png);
    }
    .LogOut{

        width: 62px;
        height: 62px;
        justify-content:center;  
        margin-top: 100px;
    } 

    .Undo2{
        align-items: center;
        justify-content: start;
        
    }
    
}