
@media(max-width:859px) {
    
    .Register{

        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 414px;
        height: 896px;
        background-repeat: no-repeat;
        background-image: url(/src/AppchatUpdate/RegisterStep1.png);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    .RegisterNextStep{
        margin-bottom: 230px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .NextStep{
    
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 414px;
        height: 896px;
        background-repeat: no-repeat;
        background-image: url(/src/AppchatUpdate/RegisterStep2Username.png);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    .SingUP{

        margin-bottom: 355px;
        display: flex;
        align-items: center;
        justify-content: center;
       
    }

}


@media (min-width: 860px) {

    .Register{
        display: flex;
        margin: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: #2D2C67;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .Register-Logo
    {   
        display: flex;
        align-items: center;
        justify-content: center;
        width: 256px;
        height: 256px;
        background-size: 80% ;
        background-image: url(/src/icon/icon-256x256.png);
        background-repeat: no-repeat;
    }

    .Register-recapcha{

        display: flex;
        align-items: center;
        justify-content: center;
        width: 600px;
        height: 150px;
        margin-top: 20px;
        margin-left: 50px;
        background-repeat: no-repeat;
        background-size: 95%;
        background-image: url(/src/AppchatUpdate/vuDXS.gif);
    }
    .Register-singIn{

        margin-right: 200px;
        
        width: 531px;
        height: 312px;
        background-repeat: no-repeat;
        background-image: url(/src/AppchatUpdate/RegistertextBox.png);
    }
    
    .RegisterNextStep{

        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .NextStep{
    
        margin: auto;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%;
        height: 100%;
        
        background-color: #2D2C67;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }


    
    
    .SingUP{
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

