
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  margin: auto;
}


@media (min-width: 700px) {
  .App{
    max-width:100%;
    max-height: 100%;
  }
    }
@media (min-width: 950px) {
  .App{
    max-width:100%;
    max-height: 100%;
  }
    }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Chatbox-header {
  background-color: rgb(255, 255, 255);
  background-position: center;
  flex: 1;
  height: 10%;
  vertical-align:top;
  justify-content: center;
  align-items: center;
  display: flex;
}

.Chatbox-header1 {
  background-image: url(design/Chat/Design\ Chi\ CHi\ App-08.png);
  background-position: left;
  background-repeat: no-repeat;
  flex: 2;
  height: 100%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
  
}

.Chatbox-header2 {
  background-image: url(design/Chat/Design\ Chi\ CHi\ App-09.png);
  background-size: 105%;
  background-position: center;
  background-repeat: no-repeat;
  flex: 2;
  height: 100%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
  
}
.Chatbox-header3 {
  background-image: url(design/Chat/Design\ Chi\ CHi\ App-10.png);
  background-position: right;
  background-repeat: no-repeat;
  flex: 2;
  height: 100%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
  
}

.App-Botton{
  height: 40px;
  background: black;
}

.App-inButtonBar{
  font-size: 20px;
  color: white;
  text-align: center;
}

.App-Time-Position{
  background: none;
  font-style: normal;
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  margin-left: 15px;
}

.App-chatroom {
  flex: 20;
  background-image: url();
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-chatroom-text {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: 25px;
  background-color: rgb(255, 255, 255);
}

.App-textPosition{
  margin-left: 15px;
  margin-right: 15px;

}
.App-textbox {
  position: bottom;
  background-color: rgb(255, 255, 255);
  background-position: bottom;
  justify-content: bottom;
  display: flex;
  height: 10%;
  flex: 1;
  background-size: auto;  
  color: rgb(228, 222, 222);
}
.App-textbox-input {
  flex: 1;
  height: 100%;
  box-sizing: border-box;
  color: rgb(6, 87, 119);
  display: flex;
}
.App-textbox-send {
  background-image: url(design/Chat/Design\ Chi\ CHi\ App-03.png);
  background-position: center;
  background-repeat: no-repeat;
  flex:0.5;
  height: 100%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
}
.App-textbox-send1 {
  background-image: url(design/Chat/Design\ Chi\ CHi\ App-04.png);
  background-position: center;
  background-repeat: no-repeat;
  flex: 0.5;
  height: 100%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
}
.App-textbox-send2 {
  background-image: url(design/Chat/Design\ Chi\ CHi\ App-05.png);
  background-position: center;
  background-repeat: no-repeat;
  flex: 0.5;
  height: 100%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
}



@media  (max-width: 760px){
  /* IPHONE */
  
  .App-textPosition{
      font-size: 20px;
  }

  .App-Time-Position{
      font-size: 10px;
  }
  
  .App-chatroom-text{
      margin-left: 20px;
      margin-right: 20px;
  }
  
  .App-inButtonBar{
      font-size: 10px;
  }
}



@media  (min-width: 1501px){
  /* PC */

  .App-textPosition{
      font-size: 30px;
  }

  .App-Time-Position{
      font-size: 20px;
  }

  .App-chatroom-text{
      margin-left: 50px;
      margin-right: 50px;
  }
  .App-inButtonBar{
      font-size: 30px;
  }
}