
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  margin: auto;
}


@media (min-width: 700px) {
  .App{
    max-width:90%;
  }
    }
@media (min-width: 950px) {
  .App{
    max-width:100%;
  }
    }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Chatbox-header {
  background-color: rgb(255, 255, 255);
  background-position: center;
  background-repeat: no-repeat;
  flex: 1;
  height: 100%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: auto;
}

.Chatbox-header1 {
  background-image: url(design/Design\ Chi\ CHi\ App-08.png);
  background-position: left;
  background-repeat: no-repeat;
  flex: 2;
  height: 100%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: auto;
}

.Chatbox-header2 {
  background-image: url(design/Design\ Chi\ CHi\ App-09.png);
  background-position: center;
  background-repeat: no-repeat;
  flex: 2;
  height: 100%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: auto;
}
.Chatbox-header3 {
  background-image: url(design/Design\ Chi\ CHi\ App-10.png);
  background-position: right;
  background-repeat: no-repeat;
  flex: 2;
  height: 100%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: auto;
}

.App-Botton{
  height: 40px;
  background: black;
}

.App-inButtonBar{
  font-size: 20px;
  color: white;
  text-align: center;

}

.App-Time-Position{
  background: none;
  font-style: normal;
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  margin-left: 15px;
}

.App-chatroom {
  flex: 12;
  background-image: url();
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-chatroom-text {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: 25px;
  background-color: rgb(255, 255, 255);
}

.App-textPosition{
  margin-left: 15px;
  margin-right: 15px;

}
.App-textbox {
  flex: 1;
  background-color: rgb(255, 255, 255);
  background-position: center;
  justify-content: center;
  display: flex;
  flex: 1;
  background-size: auto;
  
  color: rgb(228, 222, 222);
}
.App-textbox-input {
  flex: 1;
  height: 100%;
  box-sizing: border-box;
  color: rgb(6, 87, 119);
}
.App-textbox-send {
  background-image: url(design/Design\ Chi\ CHi\ App-03.png);
  background-position: center;
  background-repeat: no-repeat;
  flex:0.5;
  height: 100%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
}
.App-textbox-send1 {
  background-image: url(design/Design\ Chi\ CHi\ App-04.png);
  background-position: center;
  background-repeat: no-repeat;
  flex: 0.5;
  height: 100%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
}
.App-textbox-send2 {
  background-image: url(design/Design\ Chi\ CHi\ App-05.png);
  background-position: center;
  background-repeat: no-repeat;
  flex: 0.5;
  height: 100%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
}




.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.68%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


@media  (max-width: 760px){
  /* IPHONE */
  
  .App-textPosition{
      font-size: 20px;
  }

  .App-Time-Position{
      font-size: 10px;
  }
  
  .App-chatroom-text{
      margin-left: 20px;
      margin-right: 20px;
  }
  
  .App-inButtonBar{
      font-size: 10px;
  }
}

@media  (max-width: 1500px) and (min-width: 761px){
  /* IPAD */

  .App-textPosition{
      font-size: 25px;
  }
  
  .App-Time-Position{
      font-size: 15px;
  }

  .App-chatroom-text{
      margin-left: 35px;
      margin-right: 35px;
  }
}

@media  (min-width: 1501px){
  /* PC */

  .App-textPosition{
      font-size: 30px;
  }

  .App-Time-Position{
      font-size: 20px;
  }

  .App-chatroom-text{
      margin-left: 50px;
      margin-right: 50px;
  }
  .App-inButtonBar{
      font-size: 30px;
  }
}