.BG {
    height: 100%;
    background: linear-gradient(0deg, #330000 0%, rgb(0, 0, 0) 100%);
    
}

.Text_3ofghost{
    position: relative;
    color: #ffffff;
    font-style: oblique;
    font-family: "Indie Flower", serif;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.25);
    overflow: visible;
    text-decoration: none;
}

.Text_3ofghost:link {
    text-decoration: none;
}

.Text_3ofghost:visited {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.68%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media  (max-width: 760px){  
    /* IPHONE */
    

    .Text_3ofghost{
        top: 30%;
        font-size: 40px;
    }
}

@media  (max-width: 1500px) and (min-width: 761px) {
    /* IPAD */

    .Text_3ofghost{
        top: 25%;
        font-size: 50px;
    }
}

@media  (min-width: 1501px) {
    /* PC */

    .Text_3ofghost{
        top: 20%;
        font-size: 70px;
    }
}