.EWallet {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin: auto;
  }
  @media (min-width: 768px) {
      .EWallet-bg{
        background-position: auto;
        height: auto;
      }
  }
 
  
  .EWallet-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .EWallet-header {
    background-color: rgb(255, 255, 255);
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .EWallet-header1 {
    background-image: url();
    
    background-position: left;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  
  }
  
  .EWallet-header2 {
    background-image: url(design/ewallet.png);
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  
  }
  
  .EWallet-header3 {
    background-image: url();
    background-position: right;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  
  .EWallet-bg {
    background-image: url(design/iconasd.jpg);
    color: rgb(255, 255, 255);
    flex: 12;
    background-repeat: no-repeat; 
  }

  .EWallet-chatroom-text {
    background-image: url(design/balance.jpg);
  }
  
  
  
  .EWallet-textbox {
    flex: 1;
    background-color: rgb(255, 255, 255);
    background-position: right;
    justify-content: center;
    align-items: stretch;
    display: flex;
    color: rgb(228, 222, 222);
  }
  
  .EWallet-textbox-input {
    flex: 4;
    height: 100%;
    box-sizing: border-box;
    color: rgb(250, 254, 255);
  }
  
  .EWallet-textbox-send {
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  
  .EWallet-textbox-send1 {
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .EWallet-textbox-send2 {
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  @media (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }