.EWallet {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin: auto;
  }
  @media (min-width: 768px) {

    .EWallet-content {
      flex-direction: row;
    }

    .EWallet-money {
      flex: 3;
      flex-direction: row;
    }
    
    .EWallet-Menu {
      
      flex-direction: row;
    }
  
    .EWallet-Menu-inside {
      
      flex-direction: column;;
    }
  
  }

  @media (max-width: 768px) {
    .EWallet-content {
      flex-direction: column;
    }

    .EWallet-money {
      flex: 1;
    }
    
    .EWallet-Menu {
      flex-direction: column;
    }
  
    .EWallet-Menu-inside {
      flex-direction: column;
    }

  }
 
  
  .EWallet-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .EWallet-header {
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .EWallet-header1 {
    background-image: url("design/Profile/profile-back.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 50%;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  
  }
  
  .EWallet-header2 {
    background-image: url(design/E-Wallet/ewallet.png);
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  
  }
  
  .EWallet-header3 {
    background-image: url();
    background-position: right;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  
  .EWallet-content {
    flex: 12;
    display: flex;
  }

  
  .EWallet-money {
    background-image: url("design/E-Wallet/balance.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    justify-content: center;
    align-items: stretch;
    display: flex;
  }
  
  .EWallet-Menu {
    flex: 2;
    display: flex;
  }

  .EWallet-Menu-inside {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .EWallet-Menu-inside1 {
    flex: 1;
    display: flex;
  }

  .EWallet-Menu-inside2 {
    flex: 1;
    display: flex;
  }

  .EWallet-Menu1 {
    flex: 1;
    display: flex;
  }
  
  .EWallet-Menu2 {
    flex: 1;
    display: flex;
  }

  .EWallet-Button1 {
    flex: 1;
    display: flex;
    margin: 10px 0%;
    background-image: url("design/E-Wallet/icon.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 50%;
  }

  .EWallet-Button2 {
    flex: 1;
    display: flex;
    margin: 10px 0%;
    background-image: url("design/E-Wallet/icon2.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 50%;
  }
  .EWallet-Button3 {
    flex: 1;
    display: flex;
    margin: 10px 0%;
    background-image: url("design/E-Wallet/icon3.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 50%;
  }
  .EWallet-Button4 {
    flex: 1;
    display: flex;
    background-image: url("design/E-Wallet/icon4.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 50%;
  }
  .EWallet-Button5 {
    flex: 1;
    display: flex;
    background-image: url("design/E-Wallet/icon5.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 50%;
  }
  .EWallet-Button6 {
    flex: 1;
    display: flex;
    background-image: url("design/E-Wallet/icon6.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 50%;
  }
  
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  @media (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }