.EWallet {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin: auto;
  }
  @media (min-width: 768px) {

    .EWallet-content {
      flex-direction: row;
    }

    .EWallet-money {
      flex: 3;
      flex-direction: column;
    }
    
    .EWallet-Menu {
      
      flex-direction: row;
    }
  
    .EWallet-Menu-inside {
      
      flex-direction: column;;
    }

    .EWallet-header1{
      background-size: 15%;
    }



    .EWallet-moneytop {
      flex: 1;
      background-image: url("design/E-Wallet/backgroundtop1.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 90%;
    }
    .EWallet-moneybottom {
      flex: 1;
      flex-direction: row;
      background-image: url("design/E-Wallet/backgroundtop1.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 80%;
    }

    .EWallet-moneytopleft {
      background-image: url("design/E-Wallet/cashicon.png");
      background-repeat: no-repeat;
      background-position: Right center;
      background-size: 70%;
    }
    .EWallet-moneytopmid {
      background-image: url("design/E-Wallet/qr-code.png");
      background-repeat: no-repeat;
      background-position:right;
      
      background-size: 25%;
    }
    .EWallet-moneytopright {
      background-image: url("design/E-Wallet/qr-code-scan.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 25%;
    }
  
    .EWallet-moneybottomleft {
      background-image: url("design/E-Wallet/topupicon.png");
      background-repeat: no-repeat;
      background-position: center right;
      background-size: 50%;
    }
    .EWallet-moneybottommid {
      background-image: url("design/E-Wallet/billicon.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50%;
    }
    .EWallet-moneybottomright {
      background-image: url("design/E-Wallet/mycardicon.png");
      background-repeat: no-repeat;
      background-position: center left;
      background-size: 50%;
    }
    
    .EWallet-Menu {
      flex-direction: column;
    }
  
    .EWallet-Menu-inside {
      flex-direction: column;
    }
  
  }

  @media (max-width: 768px) {
    .EWallet-content {
      flex-direction: column;
    }
    .EWallet-header1{
      background-size: 50%;
    }

    

    .EWallet-money {
    
      flex: 1;
      flex-direction: column;
    }

    .EWallet-moneytop {
      flex: 1;
      background-image: url("design/E-Wallet/backgroundtop1.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 90%;
    }
    .EWallet-moneybottom {
      flex: 1;
      flex-direction: row;
      background-image: url("design/E-Wallet/backgroundtop1.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 80%;
    }

    .EWallet-moneytopleft {
      background-image: url("design/E-Wallet/cashicon.png");
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: 70%;
    }
    .EWallet-moneytopmid {
      background-image: url("design/E-Wallet/qr-code.png");
      background-repeat: no-repeat;
      background-position:right;
      
      background-size: 25%;
    }
    .EWallet-moneytopright {
      background-image: url("design/E-Wallet/qr-code-scan.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 25%;
    }
  
    .EWallet-moneybottomleft {
      background-image: url("design/E-Wallet/topupicon.png");
      background-repeat: no-repeat;
      background-position: center right;
      background-size: 50%;
    }
    .EWallet-moneybottommid {
      background-image: url("design/E-Wallet/billicon.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50%;
    }
    .EWallet-moneybottomright {
      background-image: url("design/E-Wallet/mycardicon.png");
      background-repeat: no-repeat;
      background-position: center left;
      background-size: 50%;
    }
    
    .EWallet-Menu {
      flex-direction: column;
    }
  
    .EWallet-Menu-inside {
      flex-direction: column;
    }

  }
 
  
  .EWallet-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .EWallet-header {
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .EWallet-header1 {
    background-image: url("design/Profile/profile-back.png");
    background-position: left;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  
  }
  
  .EWallet-header2 {
    background-image: url(design/E-Wallet/ewallet.png);
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
  
  }
  
  .EWallet-header3 {
    background-image: url();
    background-position: right;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  
  .EWallet-content {
    flex: 12;
    display: flex;
  }

  
  .EWallet-money {
    background-color: white;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    justify-content: center;
    align-items: stretch;
    display: flex;
  }

  .EWallet-moneytop {
    flex: 1;
    display: flex;

  }
  .EWallet-moneytopleft {
    flex: 1;
    display: flex;
  }
  .EWallet-moneytopmid {
    flex: 1;
    display: flex;
  }
  .EWallet-moneytopright {
    flex: 1;
    display: flex;
  }



  .EWallet-moneybottom {
    flex: 1;
    display: flex;
  }
  .EWallet-moneybottomleft {
    flex: 1;
    display: flex;
  }
  .EWallet-moneybottommid {
    flex: 1;
    display: flex;
  }
  .EWallet-moneybottomright {
    flex: 1;
    display: flex;
  }

  .EWallet-Menu {
    
    flex: 2;
    display: flex;
  }

  .EWallet-Menu-inside {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .EWallet-Menu-inside1 {
    flex: 1;
    display: flex;
  }

  .EWallet-Menu-inside2 {
    flex: 1;
    display: flex;
  }

  .EWallet-Menu1 {
    
    flex: 1;
    display: flex;
  }
  
  .EWallet-Menu2 {
    flex: 1;
    display: flex;
  }

  .EWallet-Button1 {
    flex: 1;
    display: flex;
    margin: 10px 0%;
    background-image: url("design/E-Wallet/stickericonfix.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
  }

  .EWallet-Button2 {
    flex: 1;
    display: flex;
    margin: 10px 0%;
    background-image: url("design/E-Wallet/shopiconfix.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
  }
  .EWallet-Button3 {
    flex: 1;
    display: flex;
    margin: 10px 0%;
    background-image: url("design/E-Wallet/foodiconfix.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
  }
  .EWallet-Button4 {
    flex: 1;
    display: flex;
    background-image: url("design/E-Wallet/payiconfix.png");
    background-repeat: no-repeat;
    background-position: center ;
    background-size: 70%;
  }
  .EWallet-Button5 {
    flex: 1;
    display: flex;
    background-image: url("design/E-Wallet/pointiconfix.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
  }
  .EWallet-Button6 {
    flex: 1;
    display: flex;
    background-image: url("design/E-Wallet/giftshopiconfix.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
  }
  
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  @media (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }