
.fullscreen{
    height:100%;
    width: 100;
    display: flex;
    flex:1;
    background-color: red;
    flex-direction:column;
}

.header-bar{
    flex: 0.1;
    background-color: cornflowerblue;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.content {
    flex: 0.8;
    background-color: darkkhaki;
}

.footer-bar{
    flex: 0.1;
    background-color: darkolivegreen;
}




.header-icon{
    background-color: darkred;
    margin: 24px
    
}

.header-brand{
    margin:8px;
}