@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;400;900&display=swap');

.friendList {
  
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
    font-size: 22px;
    font-family: 'Prompt', sans-serif;
  }

  @media (min-width: 100px) {
    .friendList {
      background-image: url(background_01.gif);
    }
  }
  
  
  @media (min-width: 768px) {
    .friendList {
      background-image: url(background_01.gif);
      width: 98%;
    }
  }

.friendList-header {
    padding: 10px;
    text-align: left;
    background: #0000005d;
    color: white;
    font-size: 1px;
  }
  
  .friendList-center {
    position: absolute;
    right: 150px;
    bottom: 15px;
    height: 800px;
    margin: auto;
    background: #0000005d;
    padding: 10px;
  }

  @media (min-width: 100px) {
    .friendList-center {
      right: 50px;
      width: 75%;
    }
  }

  @media (min-width: 1900px) {
    .friendList-center {
      width: 1700px;
    }
  }
  
  
  
  
 
