h2 {
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #e44444;
  }
h4 {
    border-radius: 100%;  
    background-size: 100% ;
    background-repeat: no-repeat;
    background-position: center;
  }

  
  
