.AppPrivate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    height: 100%;
    margin: auto;
    background-color: #3d14f5;
  }
.App-chatroom 
  {
    flex: 12;
    background-color:#2D2C67
  }
  
.App-chatroom-text 
  {
    margin: 8px;
    background-color: rgb(144, 218, 101);
    color : rgb(48, 100, 100);
    font-size: 20px;
  }
  
.App-textbox {
    flex: 1;
    justify-content: center;
    align-items: stretch;
    display: flex;
  }
  
.App-textbox-input {
    flex: 5;
    height: 100%;
    box-sizing: border-box;
    image-rendering: auto;
  }
  
.App-textbox-send {
    flex: 1;
    height: 100%;
    background-color: rgb(252, 8, 0);
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding: 8px 5px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  }
.btn {
    background-color: DodgerBlue;
    grid: flex;
    border: none; 
    color: white;
    padding: 8px 5px; /* Some padding */
    font-size: 15px; /* Set a font size */ 
  }
.btn:hover{
    color:RoyalBlue;
  }
  @media (min-width: 961px){
    .AppPrivate{
      max-width: 100%;
    }  
      }
    .header{
        background-color: #3d14f5;
        height: flex;
      }
    .chatname a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    }
    .chatname{
      justify-content: space-around;
    }
    .header-content{
    display: flex;
    justify-content: space-between;
    height: flex;
    align-items: center;
    padding: right;
    }
    .menu{
        display: flex;
        list-style-type: none;
      }
    .menu li {
      padding-right: 1rem;
    }
    .menu li a{
      text-decoration: none;
      color: #fff;
    }
    .mobile-menu{
      display: none;
    }
    @media (min-width: 100%) and (max-width: 960px){
    .AppPrivate {
      max-width:90%;  
    }
    .mobile-menu{
    display: block;
    color: #fff;
    font-size: 1.5rem;
    }
    .header{
      padding: 0 1rem;
    }
    .menu {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: -10px;
      right: 80px;
      width: 13%;
      opacity: 0;
    }
    .menu.active{
      background: rgb(0, 0, 0);
      opacity: 1;
      align-content: center;
    }
        }