.LoadBox{
    overflow: visible;
    height: 15px;
    width: 55%;
    background-color: #723838;
    top: 90%;
    left: 25%;
    position: absolute;
}

.LoadBar {
    top: 90%;
    width: 100px;
    height: 15px;
    position: fixed;
    animation: Downloadbar 1s infinite;
    animation-direction: initial;
}

@keyframes Downloadbar {
    0% {
        width: 100px;
        background: #ba1818;
        left: 25%;
    }
    25% {
        width: 150px;
        background: #991414;
        left: 30%;
    }
    50% {
        width: 200px;
        background: #801111;
        left: 45%;
    }
    75% {
        width: 150px;
        background: #600d0d;
        left: 60%;
    }
    100% {
        width: 100px;
        background: #470a0a;
        left: 75%;
    }
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.68%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media  (max-width: 760px){
    /* IPHONE */
    
    .LoadBar{
        top: 90%;
    }

    @keyframes Downloadbar {
        0% {
            width: 50px;
            background: #ba1818;
            left: 25%;
        }
        25% {
            width: 75px;
            background: #991414;
            left: 30%;
        }
        50% {
            width: 100px;
            background: #801111;
            left: 45%;
        }
        75% {
            width: 75px;
            background: #600d0d;
            left: 60%;
        }
        100% {
            width: 50px;
            background: #470a0a;
            left: 75%;
        }
    }
}

@media  (max-width: 1500px) and (min-width: 761px) {
    /* IPAD */
    
    @keyframes Downloadbar {
        0% {
            width: 50px;
            background: #ba1818;
            left: 25%;
        }
        25% {
            width: 75px;
            background: #991414;
            left: 30%;
        }
        50% {
            width: 100px;
            background: #801111;
            left: 45%;
        }
        75% {
            width: 75px;
            background: #600d0d;
            left: 60%;
        }
        100% {
            width: 50px;
            background: #470a0a;
            left: 75%;
        }

    }
}

@media  (min-width: 1501px) {
    /* PC */
    
}