
.App {
  display: flex;
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even){background-color: #f2f2f2}
th, td {
  text-align: left;
  padding: 5px;
}

th {
  color: white;
}


.App-header {
display: flex; 
  flex: 1;
  flex-direction: row;
  background-image: url("HeaderBG.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.App-Content{
  flex: 12;
  position: sticky;
  overflow: auto;
}

.profile-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.profile-read-tar {
  background-image: url(tarProfile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  margin: 5px;
}

.user {

  background-image: url(User_Icon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  margin: 5px;
}

.profile-read-pruek {

  background-image: url(pruekProfile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  margin: 5px;
}

.profile-read-phai {

  background-image: url(phaiProfile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  margin: 5px;
}

.profile-read-ju-on {
  margin-left: 30px;
  background-image: url(Ju-onProfile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-style: solid;
  border-width: 4px;
  border-color: #3de73d;
  border-radius: 50px;
  

}

.RoomName{
  color: #ffffff;
  display: flex;
  justify-content: flex-end;
  }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.68%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media  (max-width: 760px){
  /* IPHONE */
  
  .profile-read-tar{
    width: 40px;
    height: 40px;
    
  }
  
  .profile-read-ju-on{
    width: 70px;
    height: 70px;
    justify-content: flex-start;
  }

  .profile-read-pruek{
    width: 40px;
    height: 40px;
   
  }
  .profile-read-phai{
    width: 40px;
    height: 40px;
    

  }
  
  th{
    font-size: 16px;
    
  }

  .profile-list {
    flex-direction: column;
  }
  
}

@media  (max-width: 1500px) and (min-width: 761px){
  /* IPAD */

  .profile-read-ju-on{
    width: 90px;
    height: 90px;
    justify-content: flex-start;
  }

  .profile-read-tar{
    margin-right: 10px;
    width: 70px;
    height: 70px;
    
    
  }
  .profile-read-pruek{
    margin-right: 10px;
    width: 70px;
    height: 70px;
    

  }
  .profile-read-phai{
    margin-right: 10px;
    width: 70px;
    height: 70px;
    

  }
  th{
    font-size: 18px;
    
  }

}

@media  (min-width: 1501px){
  /* PC */

  .profile-read-ju-on{
    width: 100px;
    height: 100px;
  }
  .profile-read-tar{
    margin-right: 20px;
    width: 80px;
    height: 80px;
  }
  .profile-read-pruek{
    margin-right: 20px;
    width: 80px;
    height: 80px;

  }
  .profile-read-phai{
    margin-right: 20px;
    width: 80px;
    height: 80px;
  }
  th{
    font-size: 20px;

  }
  
}