.Music {
    background-color: rgb(207, 238, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin: auto;
  }
  
  @media (max-width: 768px) {
  
    .Music {
      background-color: rgb(207, 238, 250);
    }
    .Music-header1{
      background-size: 50%;
      background-color: rgb(255, 255, 255);
      background-position: left;
    }
    .Music-header3{
      background-size: 50%;
      background-color: rgb(255, 255, 255);
      background-position: right;
    }
    .Music-chatroom{
      flex-direction: column;
      background-size: 90%;
    }
    .Music-chatroom1{
      flex-direction: column;
      background-size: 80%;
    }
    .Music-chatroom2{
      flex-direction: column;
      background-size: 80%;
    }
  }

  @media (min-width: 1600px) {
    
    .Music-chatroom{
      background-size: 25%;
    }
    .Music-chatroom1{
      background-size: 20%;
    }
    .Music-chatroom2{
      background-size: 25%;
    }
  }
  
  .Music-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .Music-header {
    background-color: rgb(255, 255, 255);
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .Music-header1 {
    background-image: url(design/Music/Music\ UI-02.png);
    background-position: left;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .Music-header2 {
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    flex: 2;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .Music-header3 {
    background-image: url(design/Music/Music\ UI-03.png);
    background-position: right;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .Music-chatroom {
    background-image: url(design/Music/Music\ UI-04.png);
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    flex: 1;
    display: flex;
  }
  .Music-chatroom1 {
    background-image: url(design/Music/Music\ UI-01.png);
    background-repeat: no-repeat;
    background-position: top;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    flex: 3;
    display: flex;
  }
  .Music-chatroom2 {
    background-image: url(design/Music/Music\ UI-05.png);
    background-repeat: no-repeat;
    background-position: top;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    flex: 2;
    display: flex;
  }

  .Music-chatroom-text {
    margin: 8px;
    background-color: rgb(108, 165, 250);
    background-size: 30%;
    color : rgb(23, 24, 24);
    font-size: 30px;
  }
  
  .Music-textbox {
    flex: 1;
    background-color: rgb(255, 255, 255);
    background-position: right;
    justify-content: center;
    align-items: stretch;
    display: flex;
    color: rgb(228, 222, 222);
  }
  
  .Music-textbox-input {
    flex: 4;
    height: 100%;
    box-sizing: border-box;
    color: rgb(6, 87, 119);
  }
  
  .Music-textbox-send {
    background-image: url(design/Music/Music\ UI-06.png);
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .Music-textbox-send1 {
    background-image: url(design/Music/Music\ UI-07.png);
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .Music-textbox-send2 {
    background-image: url(design/Music/Music\ UI-08.png);
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  @media (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }