.PageDrawing{
  background-image: url(BG_MEOW.png);
  background-size: cover;
  height: 100%;
}
.PageDrawing-header {
    justify-content: center;
    text-align: center;
    padding: 10px 0;
    color: white;
    background-color: rgb(255, 183, 239);
    font-size: 60px;
  }
  .PageDrawing-botton{
    float: right;
    padding: 10px 0;
    
  }
  .PageDrawing-drawbox{
    padding: 320px 0;
    margin: 30px;
    background-color: white;
  }
  .PageDrawing-Icon{
    vertical-align: top;
    float: right;
    margin: 20px;
  }
  .PageDrawing-send{
    padding: 25px 0;
    margin: 30px;
    background-color: white;
    font-size: 30px;
    color: black;
    text-align: center;
  }
  .PageDrawing-Logo{
    float: none;
    background-image: url(Logo.png);
    background-repeat: no-repeat;
    background-size: 5%;
    
  }