.PageDrawing{
  background-image: url(BG_MEOW.png);
  background-size: cover;
  height: 100%;
}
.PageDrawing-header {
    justify-content: center;
    text-align: center;
    padding: 10px 0;
    color: rgb(238, 65, 65);
    background-color: rgb(255, 212, 246);
    font-size: 60px;
    
  }
  .PageDrawing-botton{
    float: right;
    padding: 10px 0;
    padding-right: 10px;
    
  }
  .PageDrawing-drawbox{
    padding: 300px 0;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.8);
  }
  .PageDrawing-Icon{
    vertical-align: top;
  }
  .PageDrawing-send{
    padding: 25px 0;
    margin: 30px;
    background-color: white;
    font-size: 30px;
    color: black;
    text-align: center;
  }
  .PageDrawing-Logo{
    float: none;
    background-image: url(Logo.png);
    background-repeat: no-repeat;
    background-size: 5%;
    
  }