.AppPrivate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: flex;
  height: flex;
  margin: auto;
  background-color: #3d14f5;
  background: linear-gradient(90deg, rgba(117,84,160,1) 7%, rgba(117,84,160,1) 17%, rgba(106,95,168,1) 29%, rgba(99,103,174,1) 44%, rgba(87,116,184,1) 66%, rgba(70,135,198,1) 83%, rgba(44,163,219,1) 96%, rgba(22,188,237,1) 100%, rgba(0,212,255,1) 100%);
}
@media (min-width: 400px) {
.AppPrivate {
    max-width:100%;
  }
}
@media (min-width: 860px) {
.AppPrivate {
    max-width:100%;
  }
}
.Function-link{
  color: #fff;
}
.App-chatroom 
{
  height: flex;
  flex: 12;
  overflow: auto;
}
.App-chatroom-text 
{
  padding: 8px;
  max-width: 25%;
  display: flex;
  align-items: flex-end;
  background-color:#d8fd08;
  border-radius: 14px 14px 0 14px;
  color : rgb(0, 0, 0);
  font-size: 20px;
  margin-left: auto;
  overflow: auto;
}

.App-textbox 
{
  flex: 1;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.App-textbox-input {
  flex: 5;
  height: 100%;
  box-sizing: border-box;
  image-rendering: auto;
}

.App-textbox-send {
  flex: 1;
  height: 100%;
  background-color: rgb(252, 8, 0);
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding: 8px 5px;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
}
.btn {
  background-color: DodgerBlue;
  grid: flex;
  border: none; 
  color: white;
  padding: 8px 5px; /* Some padding */
  font-size: 15px; /* Set a font size */
}
.btn:hover{
  color:RoyalBlue;
}