.textpro{
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    background-color: black;
    
}
 .Propic{
  overflow: visible;
  background-image: url("phaiProfile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 20%;
  height: 30%;
  left: 40%;
  top: 10%;
 }
 .bgpro{
    background-color: crimson;
    background-image: url("BGapp.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
 }
 .textname{
     position: relative;
     color: ghostwhite;
     bottom: 30px;
     font-size: 30px;

 }
 .Profilebon{
     background-color: black;
 }
 