.Profile {
    background-color: rgb(207, 238, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin: auto;
  }
  
  @media (min-width: 768px) {
  
    .Profile {
      background-color: rgb(207, 238, 250);
    }
    .Profile-header1{
      background-color: rgb(255, 255, 255);
      background-position: left;
    }
  
    .Profile-header3{
      background-color: rgb(255, 255, 255);
      background-position: right;
    }
  
  }
  
  .Profile-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .Profile-header {
    background-color: rgb(255, 255, 255);
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .Profile-header1 {
    background-image: url("design/profile-back.png");
    
    background-position: left;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  
  }
  
  .Profile-header2 {
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  
  }
  
  .Profile-header3 {
    background-image: url("design/profile-next-05.png");
    background-position: right;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .Profile-chatroom {
    background-image: url("design/login-profile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:90%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    flex: 4;
  }

  .Profile-chatroom1 {
    background-image: url("design/profile-welcome.png");
    
    background-repeat: no-repeat;
    background-position: center;
    background-size:90%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    flex: 4;
  }


  
  .Profile-chatroom-text {
    margin: 8px;
    background-color: rgb(108, 165, 250);
    background-size: 30%;
    color : rgb(23, 24, 24);
    font-size: 30px;
  }
  
  .Profile-textbox {
    flex: 1;
    background-color: rgb(255, 255, 255);
    background-position: right;
    justify-content: center;
    align-items: stretch;
    display: flex;
    color: rgb(228, 222, 222);
  }
  
  .Profile-textbox-input {
    flex: 4;
    height: 100%;
    box-sizing: border-box;
    color: rgb(6, 87, 119);
  }
  
  .Profile-textbox-send {
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  
  .Profile-textbox-send1 {
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .Profile-textbox-send2 {
    background-image: url("design/logo192.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .Profile-textbox-send3 {
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .Profile-textbox-send4 {
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  @media (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }