.Profile {
    background-color: rgb(207, 238, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin: auto;
  }
  
  @media (max-width: 768px) {  
    .Profile {
      background-color: rgb(207, 238, 250);
    }
    .Profile-header1{
      background-size: 50%;
      background-color: rgb(255, 255, 255);
      background-position: left;
    }
    .Profile-header3{
      background-size: 50%;
      background-color: rgb(255, 255, 255);
      background-position: right;
    }
    .Profile-chatroom{
      flex-direction: column;
    }
    .Profile-textbox-send2{
      background-size: 90%;
    }

    .Profile-chatroom2{
      flex-direction: column;
    }

    .Profile-info{
      background-position: top center;
      flex-direction: column;
    }

    .Profile-info-1{
      font-size: 40px;
      color:rgb(9, 59, 126)
    }

    .Profile-info-5{
      margin-top: 10px;
      font-size: 28px;
      color:rgb(9, 59, 126)
    }
  }

  @media (min-width: 768px) {
    .Profile-header1{
      background-size: 10%;
    }
    .Profile-header3{
      background-size: 10%;
    }
    .Profile-chatroom{
      flex-direction: row;
    }
    .Profile-chatroom1{
      background-size: 90%;
    }

    .Profile-chatroom2{
      background-size: 70%;
      flex-direction: column;
    }

    .Profile-info{
      flex-direction: column;
    }

    .Profile-info-1{
      font-size: 50px;
      color:rgb(9, 59, 126)
    }

    .Profile-info-5{
      margin-top: 10px;
      font-size: 28px;
      color:rgb(9, 59, 126)
    }

    .Profile-textbox-send2{
      background-size: 40%;
    }
  }

  
  .Profile-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .Profile-header {
    background-color: rgb(255, 255, 255);
    background-position: center;
    background-repeat: no-repeat;
    flex: 0.5;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .Profile-header1 {
    background-image: url("design/Profile/profile-back.png");
    
    background-position: left;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  
  }
  
  .Profile-header2 {
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  
  }
  
  
  
  .Profile-chatroom{
    flex: 6;
    display: flex;

  }
  .Profile-chatroom1 {
    background-image: url("design/Profile/Profile.png");
    background-color: #afe5fa;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    flex: 1;
    display: flex;
  }

  .Profile-chatroom2 {
    
    background-color:white;
    background-repeat: no-repeat;
    background-position: center;
    
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    flex: 1;
    display: flex;
  }

  .Profile-info-1{
    display: flex;
    font-weight: bold;
  }

  .Profile-info-5{
    display: flex;
    font-weight: bold;
  }

  
  .Profile-chatroom-text {
    margin: 8px;
    background-color: rgb(108, 165, 250);
    background-size: 30%;
    color : rgb(23, 24, 24);
    font-size: 30px;
  }
  
  .Profile-textbox {
    flex: 1;
    background-color: rgb(255, 255, 255);
    background-position: right;
    justify-content: center;
    align-items: stretch;
    display: flex;
    color: rgb(228, 222, 222);
  }
  
  .Profile-textbox-input {
    flex: 4;
    height: 100%;
    box-sizing: border-box;
    color: rgb(6, 87, 119);
  }
  
  .Profile-textbox-send {
    
    flex: 1;
    
  }
  
  
  .Profile-textbox-send1 {
    
    flex: 1;
    
  }
  
  .Profile-textbox-send2 {
    background-image: url("design/logo192.png");
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .Profile-textbox-send3 {
    
    flex: 1;
   
  }

  .Profile-textbox-send4 {
   
    flex: 1;
    
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  @media (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }