.contrain{
display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 414px;
  height: 100%;
  margin: auto;
}

@media (min-width: 700px) {
  .contrain {
    max-width:90%;
  }
}
@media (min-width: 950px) {
  .contrain {
    max-width:100%;
  }
}