.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 1920px;
    height: 100%;
    margin: auto;
    background-color: aquamarine;
}

.App-content{
    
}