.App{
  max-width: 414px;
  margin: 0 auto;
  background-color:#2D2C67
}
.App-Header{
  background: #3d14f5;
  color:aliceblue;
  height: 80px;
  }
@media (min-width: 700px) {
    .App {
      max-width:90%;
    }
  }
  @media (min-width: 950px) {
    .App {
      max-width:100%;
    }
  }