.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 100%;
  height: 100%;
  margin: auto;
  background-color:#2D2C67
}
.app-contrain{
  background: #3d14f5;
  color:aliceblue;
  height: 80px;
}

@media (min-width: 700px) {
  .app {
    max-width:90%;
  }
}
@media (min-width: 950px) {
  .app {
    max-width:100%;
  }
}


@media (max-width: 1279px)
{
  .SettingPage
  {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-color: #2D2C67;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      
  }
  .Header
  { 
    display: flex;
    position: relative;
    background-color: #505396;
    width: 100%;
    height: 131px;
    align-items: center;
    justify-content: center ;
  }

  .Header-text
  {   
    margin-left:100px ;
    margin-top: 60px;
    height: 131px;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/src/AppchatUpdate/Settings.png);
  }
  .OptionSetting
  {
    margin-top: 20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Profiles{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
  }
  .LogOut{

    display: flex;
    align-items: center;
    margin-right: 145px;
    margin-top: 350px;  
    justify-content: flex-start;
      
  }

  .Undo2{

    display: flex;
    margin-bottom: 60px;
    align-items: flex-start;
    justify-content:flex-start;
      
  }



}


@media (min-width: 1280px){

  .SettingPage{
        
    margin: auto;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #2D2C67;
    flex-direction: column;
        
  }

  .Header
  {   
    display: flex;
    position: relative;
    background-color: #505396;
    width: 100%;
    height: 131px;
    justify-content: center;
    align-items: center;
        
       
  }

  .Header-text
  {   
    align-items: center;
    width: 200px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: 95% ;
    background-image: url(/src/AppchatUpdate/Settings.png);
  }

  .Profiles{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
  }
    
 
  .LogOut{

    width: 62px;
    height: 62px;
    justify-content:center;  
    margin-top: 100px;
    margin-left: 100px;
  } 

  .Undo2{

    align-items: center;
    justify-content: start;
        
  }
    
  .OptionSetting{   

    display: flex;
  
    flex-direction: row;
    align-items: center;
  
  }


  .OptionSetting-Bar
  {
    
    margin-top: 50px;
    margin-left: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 852px;
    height: 498px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(/src/AppchatUpdate/GropOption.png);
  }


  
  .LogOut{
    
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .OptionSetting-Profiles{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

}


