.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 414px;
  height: 100%;
  margin: auto;
  background-color:#2D2C67
}
.app-contrain{
  background: #3d14f5;
  color:aliceblue;
  height: 80px;
  }

@media (min-width: 700px) {
    .app {
      max-width:90%;
    }
  }
  @media (min-width: 950px) {
    .app {
      max-width:100%;
    }
  }