@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;400;900&display=swap');

.shop-center::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
.shop-center::-webkit-scrollbar-thumb {
    background: #ffffff00;
}
.shop {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
    font-size: 22px;
    font-family: 'Prompt', sans-serif;
  }

  @media (min-width: 100px) {
    .shop {
      background-image: url(background_01.gif);
    }
  }
  
  
  @media (min-width: 768px) {
    .shop {
      background-image: url(background_01.gif);
      width: 98%;
    }
  }

    .shop-money {
    width: 150px;
    height: 30px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 25px;
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 15px;
    font-size: 30px;
  }

  @media (min-width: 100px) {
    .shop-money {
      left: 80px;
    }
  }

  @media (min-width: 768px) {
    .shop-money {
      left: 130px;
    }
  }

.shop-header {
    padding: 5px;
    text-align: left;
    background: #0000005d;
    color: white;
    font-size: 1px;
  }
  
  .shop-center {
    font-size: 30px;
    text-align: center;
    position: absolute;
    right: 150px;
    bottom: 15px;
    height: 800px;
    margin: auto;
    padding: 10px;
    overflow: scroll;
    direction: ltr;
  }

  .shop-items {
    display: grid;
  }
  
  .shop-items > div {
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    align-items: auto;
    padding: 150px 0;
    color: rgb(0, 0, 0);
  }

  @media (min-width: 100px) {
    .shop-items {
      grid-template-columns: auto auto;
      padding: 0px;
      font-size: 15px;
      grid-gap: 50px;
    }
  }

  @media (min-width: 100px) {
    .shop-items > div {
      padding: 60px;
    }
  }
  
  @media (min-width: 1200px) {
    .shop-items {
      grid-template-columns: auto auto auto;
      grid-gap: 100px;
      padding: 10px;
      font-size: 30px;
    }
  }

  @media (min-width: 1200px) {
    .shop-items > div {
        padding: 150px 0;
    }
  }

  @media (min-width: 100px) {
    .shop-center {
      right: 50px;
    }
  }

  @media (min-width: 768px) {
    .shop-center {
      width: 1700px;
    }
  }