@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;400;900&display=swap');

.shop-center::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar-track {
  background: #00000000;
}

/* Optional: show position indicator in red */
.shop-center::-webkit-scrollbar-thumb {
    background: #ffffff00;
}
.shop {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
    font-size: 22px;
    font-family: 'Prompt', sans-serif;
  }

  @media (min-width: 100px) {
    .shop {
      background-image: url(background_01.gif);
    }
  }
  
  
  @media (min-width: 768px) {
    .shop {
      background-image: url(background_01.gif);
      width: 98%;
    }
  }
    .shop-money {

    border: 5px solid rgb(0, 0, 0);
    border-radius: 25px;
    background-color: white;
    padding: 12px;
  }

.shop-header {
  
    display: flex;
    flex-direction: row;
    padding: 10px;
    text-align: left;
    background: #0000005d;
    color: white;
    font-size: 1px;
  }
  
  .shop-center {
    text-align: center;
    width: 80%;
    margin: auto;
    overflow: scroll;
    direction: ltr;
  }

  .shop-items {
    display: grid;
  }
  
  .shop-items > div {

    border-radius: 25px;
    padding: 30%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: rgb(0, 0, 0);
  }

  @media (min-width: 100px) {
    .shop-items {
      grid-template-columns: auto auto;
      font-size: 13px;
      grid-gap: 30px;
    }

    .shop-center {
      height: 80%;
    }

    .shop-money {
      margin: 10px 10px;
      width: 100px;
      height: 10px;
    }

  }

  
  
  @media (min-width: 768px) {
    .shop-items {
      grid-template-columns: auto auto auto;
      font-size: 30px;
      grid-gap: 50px;

    }

    .shop-center {
      height: 80%;
    }

    .shop-money {
      width: 150px;
      height: 30px;
      margin: 0 10px;
    }
    
}

 


  
  
  
  
  
 
